/* Основные стили для страницы */
body {
  margin: 0;
  padding: 0;
  background-color: #0096FF; /* Оставляем сплошной цвет фона */
  font-family: Arial, sans-serif;
  color: white;
  overflow-y: hidden; /* Блокируем вертикальную прокрутку */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 64px;
  margin: 20px;
  text-align: center;
}

.timeline {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap;
}

.project {
  position: relative;
  width: 300px;
  margin: 0 100px;
  text-align: center;
}

.project.top {
  margin-top: -120px; /* Сдвиг для верхних проектов */
}

.project.bottom {
  margin-top: 120px; /* Сдвиг для нижних проектов */
}

.year {
  font-size: 24px;
  margin-bottom: 10px;
}

.poster {
  width: 100%;
  border-radius: 10px;
}

.project-title {
  font-size: 18px;
  margin-top: 10px;
}

/* Линии, соединяющие Pixar с проектами */
.line {
  width: 2px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.project.bottom .line {
  top: 150px;
}
